html,body{
    margin:  0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.border-div{

    background-color: cyan;
    width: 500px;
    height: 300px;
    margin: 50px;
    color: green;
    /* border-style: solid;
    border-color: tomato;
    border-width: 10pxw; */
    
    border: 10px solid darkorange;
    /* border-radius: 50px;
    border-top-left-radius: 100px; */
    border-radius: 10px 50px 100px 150px;

}

.background-div{
    width: 500px;
    height: 300px;
    margin: 50px;
    /* background-color: darkred; */
    /* background-image: url(./asset/pattern.png); */
    /* background-repeat: no-repeat;  */
background-image: url(./asset/fiat\ panda.jpg);
background-size: cover ;
background-position: center center ;
}
