.div1 {
    background-color: blueviolet;
    width: 500px;
}

.div2 {
    background-color: cadetblue;
    display: inline-block;
    width: 200px;


}

.div3 {
    background-color: brown;
    display: inline;
    width: 200px;
}

.div4 {
    background-color: fuchsia;
    height: 300px;
}

.div5 {
    background-color: darkblue;
    position: relative;
    left: 20px;
    top: 20px;
    width: 300px;
}

.div6 {
    background-color: rgb(41, 17, 255);
    position: absolute;
    top: 10px;
    right: 10px;
    height: 300px;
}

.div7 {
    background-color: rgb(251, 10, 10);
    height: 300px;
}

.div8 {
    background-color: rgb(1, 255, 56);
    height: 100px;
    position: fixed;
    top: 10px;
    left: 10px;
}
.div9{
    background-color: gold;
    width: 500px;
    height: 500px;
    position: relative;
}
.div10{
    background-color: black;
    color: white;
    position: absolute;
    top: 50px;
    left: 50px;
}

